---
title: FPGA Design Services
heading: FPGA Design Services
description: ArchES provides design services for high-performance FPGA applications

services_table:
    - name: Complete System Design Service
      text: ArchES Computing Systems provides a complete system design service. We will work
        with your team to design and build performance-optimized FPGA designs for the application
        at hand. 

    - name: Hardware Acceleration Service
      text: In many cases, it isn't beneficial to migrate entire application systems into FPGAs. 
        In these situations, ArchES can assess the benefits of offloading specific functionalities
        to dedicated hardware. We will model your existing infrstructure to quantify the reduction
        in latency, improvement in throughput, or increase in functionality that would be obtained
        by integrating FPGAs into your systems. 

---

{% for service in page.services_table %}
    {% assign mod = forloop.index | modulo: 2 %}
        {% if mod == 0 %}
            <div class="container info even">
        {% else %}
            <div class="container info odd">
        {% endif %}
                <h3 style="color: {{ site.arches_blue }}">{{ service.name }}</h3>
                <p>{{ service.text }} </p>
            </div>
{% endfor %}
