<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Arches Computing Systems develops products and applications 
                        based on heterogeneous computing platforms comprising high-performance 
                        processors and reconfigurable logic using FPGAs. Key to Arches' technology 
                        is the development of communication libraries for these heterogeneous systems.
                        These modules provide application scalability and portability 
                        to FPGA-accelerated high-performance computing applications and 
                        embedded systems that require a tight 
                        coupling between high-performance processors and FPGAs.</p>

                    <p>Established in 2003, Arches aims to be the technology leader in 
                        architectural innovations for heterogenous high-performance computing 
                        and embedded systems. The company is based in Toronto, Ontario, Canada.</p>
                </div>
            </div>
        </div>
    </section>
