<!-- Services Section -->
    <section id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Products</h2>
                    <h3 class="section-subheading text-muted">Arches Computing Systems
                        specializes in FPGA-based application acceleration. We have
                        developed many reusable code libraries for moving data
                        between applications running on a FPGA and the outside
                        world. This ensures your development time can be focused on 
                        your particular application. 
                        Please <a class="page-scroll" href="#contact">contact</a> us for more information.
                    </h3>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-md-4">
                    <div class="text-center">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-sitemap fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <h4 class="service-heading text-center">TCP/UDP Stack</h4>
                    <p class="text-muted">The Arches-TCP and Arches-UDP stacks
                    are low-latency, FPGA-based networking stacks that allow
                    your FPGA application to communicate using standard networking
                    protocols without incurring the delays associated with 
                    standard OS networking stacks. Both stacks achieve 10Gbps
                    sustained line performance and sub-microsecond latency. 
                    The TCP stack supports flow control/congestion and allows up
                    to 16&nbsp;000 simultaneous connections.
                    DHCP, ARP, ICMP, and IGMP modules are included in the libraries.
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <h4 class="service-heading text-center">FIX Engine</h4>
                    <p class="text-muted">The Arches-FIX engine is a FPGA-based,
                    low-latency Financial Information eXchange (FIX) engine.
                    It can be configured to 
                    run in client or server mode and has default implementations
                    for all FIX Administrative messages. All application-level messages
                    can be offloaded to dedicated logic or an embedded 
                    processor directly on the FPGA, or they can be communicated
                    to a server CPU for processing. The Arches-FIX engine supports
                    FIX 4.0 and FIX 4.2 and up to 16&nbsp;000 simultaneous connections.
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-exchange fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <h4 class="service-heading text-center">MPI</h4>
                    <p class="text-muted">The Arches-MPI communication suite 
                    targets parallel processes that run on FPGA or FPGA/CPU networks.
                    It consists of software libraries and FPGA IP
                    and enables the distribution of tasks across a collection of
                    server CPUs, embedded processors, and FPGA-based computing
                    engines. Since the communication interface is standard MPI,
                    development will be familiar to many programmers and can
                    easily evolve from software-only to a software/hardware hybrid
                    to take advantage of FPGA acceleration.</p>
                </div>
            </div>
        </div>
    </section>
