<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">With in-house 
                        software and digital hardware developers, as well as 
                        an extensive development relationship with Xilinx Inc., 
                        Arches Computing Systems is in an excellent position to 
                        assist you with your design and implementation.
                        Please <a class="page-scroll" href="#contact">contact</a> us for more information.
                    </h3>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-md-6">
                    <div class="text-center">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <h4 class="service-heading text-center">Hardware Acceleration Service</h4>
                    <p class="text-muted">Many existing applications are candidates for 
                        hardware acceleration, where the computational bottlenecks
                        are identified and re-implemented in dedicated logic on a FPGA.</p>
                    <p class="text-muted">We will first profile your application to
                        identify the expected speedup obtained by moving some or 
                        all of your application to hardware.</p>
                    <p class="text-muted">Next, we will re-implement those modules
                        in hardware and provide all of the necessary peripheral logic
                        so the only observable difference is the application acceleration.</p>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <h4 class="service-heading text-center">Complete System Design Service</h4>
                    <p class="text-muted">Arches Computing Systems also provides a complete system 
                        design service to design and implement your application directly on a FPGA,
                        or in a heterogeneous CPU/FPGA environment.</p>
                    <p class="text-muted">Starting with a requirements document, Arches will
                        design an architecture to best utilize the massive parallelization
                        available in dedicated hardware.</p>
                    <p class="text-muted">After completing the architecture design, Arches
                        will implement the design on a FPGA and work with you to ensure
                        compliance with the design specification.
                    </p>
                </div>
            </div>
        </div>
    </section>
