.bottom-cta {
	background: linear-gradient(to bottom, $brand-color 0%, $middle-gradient-color 100%);
	color: #fff;
	text-align: center;
    position: absolute;
    top: 85%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);    

	h2 {
		margin-bottom: 50px;
	}
}

.testimonial {
	background: #f5f5f5;
	margin: 0;
	padding: 100px 0;

	.testimonial-block {
		max-width: 750px;
		width: 98%;
		margin: 0 auto;

		@media #{$tablet} {
			@include flexbox;

			blockquote {
				-webkit-flex: 1;
				flex: 1;
			}
		}
	}
}

.hero {
	color: #ffffff;
	text-align: center;
	background: linear-gradient(to bottom, $middle-gradient-color 0%, $secondary-brand-color 100%) no-repeat #a05fb7;
    position: absolute;
    top: 40%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);    

	p {
		color: #fff;
	}
}


@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}
